/* .bg{
    background-color:#343a40;
} */
.table-bordered {
    border: 7px solid #343a40;
}
.table-bordered td, .table-bordered th {
    border: 7px solid #343a40;
}
.head{
    background-color: rgba(255, 255, 255, .05);
    font-size: 15px;
    
    
}
.state{
    background-color: rgba(255, 255, 255, .05);
    /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15); */
}

.change{
    font-size: 12px;
    text-align: right;
}
.tot{
    font-size: 14px;
    text-align: right;
    /* position: absolute;
    padding-bottom: 0; */
    color: #c0bbbb;
}
.arrowImg{
    color: white;
    font-size: 16px;
    float: right;
}

.sortIcon{
    float: left;
    position: relative;
    /* top: 0; */
    font-size: 10px;
}

.map{
    overflow: hidden;
}
/* .table-hover .table-dark:hover {
    background-color: rgba(255, 255, 255, .05)
}

.table-hover .table-dark:hover>td, .table-hover .table-dark:hover>th {
    background-color: rgba(255, 255, 255, .05)
}
.table-dark.table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .05)
} */
/* .table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, .05);
    
} */

.card{
    transition: all 0.5s ease;
    background-color: #343a40;
    cursor: pointer;
}

.india{
    letter-spacing: 2px;
}

.tested{
    text-align: right;
    line-height: 0.5px;
    letter-spacing: 2px;
}
/* .card:hover{
    /* transform: scale(1.3); */
    /* background-color: rgb(238, 137, 119,0.3); */
    /* background-color: teal; */
/* } */
/* .inner img{
    transition: all 0.8s ease;
}

.card:hover img{
    

} */