<section class="contact-section">
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Creator</h5>
                    <hr>
                    <a routerLink="['/home]'">Abhishek Sharma</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Email Address</h5>
                    <hr class="color">
                    <a routerLink="['/home]'">abhishek1sharma14.1998@gmail.com</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Phone Number</h5>
                    <hr class="color">
                    <a routerLink="['/home]'">9897660191</a>
                </div>
            </div>
        </div>
    </div>
</section>