.bg-pic {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 35rem;
    padding: 15rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(22,22,22,0.1)), color-stop(75%, rgba(22,22,22,0.5)) to(#161616)), url('/assets/bg-masthead1.jpg');
    background : linear-gradient(to bottom, rgba(22,22,22,0.1) 0%, rgba(22,22,22,0.5) 75%, #161616 100%), url('/assets/bg-masthead1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    letter-spacing: 0.05rem;
}

.bg-black{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 35rem;
    padding: 15rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(22,22,22,0.1)), color-stop(75%, rgba(22,22,22,0.5)) to(#161616)), #292b2c;
    background : linear-gradient(to bottom, rgba(22,22,22,0.1) 0%, rgba(22,22,22,0.5) 75%, #161616 100%), #292b2c;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

}

.bg-pic h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  .bg-pic h2 {
    max-width: 20rem;
    font-size: 1rem;
  }
  
  @media (min-width: 768px) {
    .bg-pic h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  
  @media (min-width: 992px) {
    .bg-pic {
      height: 100vh;
      padding: 0;
    }
    .bg-pic h1 {
      font-size: 6.5rem;
      line-height: 6.5rem;
      letter-spacing: 0.8rem;
    }
    .bg-pic h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }

  .bg-pic .form-inline input {
    -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    height: auto;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
  }

  .btn {
    -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-weight: 500;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
  }

  .about-paragraph{
    color: rgb(243, 243, 243);
    /* font-weight:600; */
    font-size: 20px;
    
  }

  .about-section {
    padding-top: 10rem;
    background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(75%, rgba(22, 22, 22, 0.9)), to(rgba(22, 22, 22, 0.8)));
    background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
    letter-spacing: 0.05rem;
  }

  .about-section p {
    margin-bottom: 5rem;
  }
  p-toast{
    background-color: #000000c5;
    color: white;
}

.signup-section {
  padding: 10rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("/assets/bg-signup1.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("/assets/bg-signup1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.signup-section .form-inline input {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}